<!DOCTYPE html>
<html lang="en">
    <%- include('partials/header.ejs', {title: "Home page"}) %>
    <body>
        <%- include("partials/nav.ejs"), {user: user} %>
        <div class="container">Home Page</div>
    </body>
</html>
