<!DOCTYPE html>
<html lang="en">
    <%- include('partials/header.ejs', {title: "Sign Up"}) %>
    <body>
        <%- include("partials/nav.ejs") %>
        <div class="jumbotron d-flex align-items-center min-vh-100">
            <div class="container" style="max-width: 25em">
                <div class="btn btn-default" style="margin-bottom: 1em; min-width: 100%;">
                    <a class="hollow primary" href="/auth/google">
                        <img
                            width="15px"
                            style="margin-bottom: 3px; margin-right: 5px"
                            alt="Google login"
                            src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png"
                        />
                        Sign in with Google
                    </a>
                </div>
                <form>
                    <div class="form-group">
                        <label for="name">Username</label>
                        <input
                            id="name"
                            name="name"
                            placeholder="John Doe"
                            type="text"
                            required="required"
                            class="form-control"
                        />
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input
                            id="email"
                            name="email"
                            placeholder="example@example.com"
                            type="text"
                            required="required"
                            class="form-control"
                        />
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input
                            id="password"
                            name="password"
                            placeholder="xxxxxx"
                            type="text"
                            required="required"
                            class="form-control"
                        />
                    </div>
                    <div class="form-group">
                        <button name="submit" type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>
