<!DOCTYPE html>
<html lang="en">
    <%- include('partials/header.ejs', {title: "Sign Up"}) %>
    <link rel="stylesheet" href="/css/form.css" />
    <body>
        <%- include("partials/nav.ejs") %>
        <div class="jumbotron d-flex align-items-center form-jumbroton">
            <div class="container form-container">
                <form action="/auth/signup" method="post">
                    <!-- Strategy Buttons -->
                    <div class="text-center social-btn">
                        <a href="/auth/google" class="btn btn-danger btn-block d-flex"
                            ><img
                                src="https://res.cloudinary.com/df1unjmwz/image/upload/v1643375450/google-brands_zrfgwv.svg"
                                alt="Google"
                                class="google-img"
                            />
                            Sign in with Google
                        </a>
                    </div>
                    <hr />
                    <!-- Alert Box -->
                    <% if (messages.error) { %>
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <%= messages.error %>
                    </div>
                    <% } %>
                    <div
                        class="alert alert-danger hidden alert-dismissible fade show"
                        role="alert"
                    ></div>
                    <!-- Input Fields -->
                    <div class="form-group mb-3">
                        <label for="name">Username</label>
                        <input
                            id="name"
                            name="name"
                            placeholder="John Doe"
                            type="text"
                            required="required"
                            class="form-control"
                        />
                    </div>
                    <div class="form-group mb-3">
                        <label for="email">Email</label>
                        <input
                            id="email"
                            name="email"
                            placeholder="example@example.com"
                            type="text"
                            required="required"
                            class="form-control"
                        />
                    </div>
                    <div class="form-group mb-3">
                        <label for="password">Password</label>
                        <input
                            id="password"
                            name="password"
                            placeholder="xxxxxx"
                            type="text"
                            required="required"
                            class="form-control"
                        />
                    </div>
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                    <span class="d-inline-block" tabindex="0" data-bs-toggle="tooltip">
                        <button name="submitBtn" type="submit" class="btn btn-primary">
                            Submit
                        </button></span
                    >
                </form>
            </div>
        </div>
        <script src="/js/validateForm.js"></script>
    </body>
</html>
